:root {
    --cor-01: #0DA64F;
    --cor-02: #04BF45;
    --cor-03: #F27405;
    --cor-04: #D2D6D9;
    --cor-05: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    background-color: var(--cor-04);
}

textarea {
    width: 70%;
    padding: 5px;
    resize: none;
    font-size: 0.7em;
    border: none;
    border-radius: 5px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container h1 {
    margin-bottom: 15px;
    font-size: 1.1em;
    text-transform: uppercase;
}

#container-reset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-sides-reset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-modify {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    background: linear-gradient(to right, var(--cor-02), var(--cor-01));
}

#container-sides {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

#container-sides input {
    padding: 5px;
    margin-bottom: 7px;
    width: 70%;
    border-radius: 5px;
    border: none;
}

#container-sides input:last-child {
    margin-bottom: 0;
}

#reset-all {
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    width: 70%;
    border: none;
    background-color: var(--cor-03);
    color: var(--cor-05);
}

#copy-text-area {
    margin-top: 10px;
    padding: 5px;
    width: 70%;
    border: none;
    background-color: var(--cor-02);
    color: var(--cor-05);
}

#container-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* 529px */
@media (min-width: 529px) {
    #container {
        height: auto;
    }

    #container-reset {
        flex-direction: row;
        margin: 0px 55px;
    }

    #container-gerador {
        text-align: center;
        margin-left: 60px;
    }

    #container h1 {
        margin-top: 25px;
    }

    #container-sides-reset {
        margin-top: 66px;
    }

    #copy-text-area {
        margin-bottom: 35px;
    }
}
/* 768px */
@media (min-width: 768px) {
    #container {
        margin-top: 100px;
    }
}
/* 1024px */
@media (min-width: 1024px) {
    #container {
        margin-top: 150px;
    }

    #container-reset {
        margin: 0 65px;
    }

    #container-gerador {
        margin-left: 90px;
    }
}
/* 1440px */
@media (min-width: 1440px) {
    #container h1 {
        font-size: 2.5em;
        text-justify: auto;
    }

    #content-modify {
        width: 300px;
        height: 300px;
    }

    #container-sides-reset {
        margin-top: 130px;
    }

    #container-sides input {
        padding: 10px;
    }

    #reset-all {
        padding: 10px;
        font-size: 1.2em;
    }

    #container-sides-reset {
        margin-right: 52px;
    }

    textarea, #copy-text-area {
        padding: 10px;
    }

    #copy-text-area {
        font-size: 1.2em;
    }
}